p{
  font-size: 1em;
}

h1{
  font-size: 5em;
  text-align: center;
  color: #009999;
  font-family: 'Galada', cursive;
}

h2{
  font-size: 3em;
  text-align: center;
  color: #009966;
}

body {
    background-color: #003366;
    font-size: 1em;
}

a{
  color: white
}

.column {
  float: left;
  width: 20%;
  padding: 5px;
}
